.rpv-toolbar {
  width: 100%;
}
.flex-disply-tool {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .disappear-small-view {
    display: none;
  }
}
/*annotation */
